* {margin: 0; padding: 0; box-sizing: border-box; font-family: sans-serif;}
ul, li {list-style: none;}
a {text-decoration: none;}
html, body {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	color: #fff;
	background-color: #353535;
}

/*                         */
.bg {
	background-image: url('../img/5\ \(2\).jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	background-position: center center;	
	opacity: 2;
}

.google-list {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 15px;
}

.google-item {
	padding: 10px;
	color: #fff;
	font-size: 13px;
}

.google-item:hover {
	text-decoration: underline;
}

.google {
	margin-top: 110px;
	text-align: center;
}

.google-logo {
	font-weight: normal;
	font-size: 88px;
	margin-bottom: 44px;
}

.google-input input{
	width: 560px;
	padding: 12px 45px;
	border-radius: 50px;
	border: 1px solid #fff;
	font-size: 16px;
	font-weight: 500;
}

.icon-search {
	width: 30px;
	height: 30px;
	background-color: #999;
	border: 1px solid #999;
	border-radius: 50px;
	margin: 0 auto;
	position: relative;
	left: -255px;
	top: -36px;
}
